<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your Email"
        ngModel
        name="email"
        email
        required
        #email="ngModel"
      />
      <mat-error *ngIf="email.hasError('required')"
        >Field must be not Empty</mat-error
      >
      <mat-error *ngIf="!email.hasError('required')"
        >E-mail is invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
        type="password"
        matInput
        placeholder="Your Password"
        ngModel
        name="password"
        required
        minlength="6"
        #password="ngModel"
      />
      <mat-hint align="end">{{ password.value?.length }} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Your birth date"
        [matDatepicker]="datepicker"
        [max]="maxDate"
        required
        ngModel
        name="birthDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" required
      >Agree to Terms and Conditions.</mat-checkbox
    >
    <button [disabled]="f.invalid" mat-raised-button color="primary">
      Submit
    </button>
  </form>
</section>
